# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

#Ignore intelliji
.idea

#Ignore run useless
run/options.txt
run/optionsof.txt
run/usercache.json
run/shaderpacks
run/saves
run/resourcepacks
run/logs
run/tmp
run/sc_conf
run/sc_config
*.dat
*.txt
*.gz
*.log
!run/sc_conf/fonts
run/assets/skins
run/screenshots
