# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

#Ignore intelliji
.idea

#Ignore run useless
run/options.txt
run/optionsof.txt
run/usercache.json
run/sc_options.json
run/shaderpacks
run/saves
run/resourcepacks
run/logs
run/tmp
*.dat
*.txt
*.gz
*.log